h1, h2, h3, h4, h5, h6{
    font-family: 'Times New Roman', Times, serif; 
}

html{
    background-color: lightgrey;
}
.nav{
    font-weight: 500;
    color: black;
}
.featured-blog-heading{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900; 
    font-size: 60px;     
}

